<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
			<h1>Employee</h1>
				
			<div class="row justify-content-between">
			
		  <!-- YOUR EJS OR HANDLEBARS TEMPLATE LITERALS GO HERE -->
		  <div class="row justify-content-between">  
		 	 <div>
			<img src="<%= employee.picture %>">
			<h6><%= employee.firstName%> <%= employee.lastName%></h6>
			<%= employee.email%>
			</div>
           <!-- Try mocking up some Bootstrap cards or columns with some hard coded data to get an idea of how your templates should look. -->
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
